Bank.WebApplication/Service References/ServiceBank/BankServiceSoap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2886/BankServiceSoap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bank.Entities" />
  <xs:element name="GetAllBanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="GetAllBanksResult" nillable="true" type="q1:ArrayOfBankBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="modelBE" nillable="true" type="q2:BankBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBankResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="modelBE" nillable="true" type="q3:BankBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBankResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBankResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranchs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="GetAllBranchsResult" nillable="true" type="q4:ArrayOfBranchBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="GetBankResult" nillable="true" type="q5:BankBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="modelBE" nillable="true" type="q6:BranchBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBranchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="modelBE" nillable="true" type="q7:BranchBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBranchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBranchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="GetBranchResult" nillable="true" type="q8:BranchBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersByBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersByBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Bank.Entities" minOccurs="0" name="GetAllOrdersByBankResult" nillable="true" type="q9:ArrayOfOrderBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>